<div class="row">
	<h1>Star Wars Test</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iusto, sint nesciunt quod, nemo quo architecto laudantium soluta amet natus dolores excepturi id ad libero aliquam molestiae placeat, error totam.
	</p>
	<div class="row col-md-6">
		<table class="table table-hover table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Name</td>
					<td>sdasds</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>dsdsd</td>
				</tr>
					<td>Birth Year</td>
					<td>dsdsd</td>
				<tr>
					<td>Planet</td>
					<td>dsdsd</td>
				</tr>

			</tbody>
		</table>
		<button type="button" class="btn btn-default" ng-click="rotas()">Back</button>
	</div>
</div>
<div class="row">
	<span>More from same planet</span>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th>Planet</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Content</td>
				<td>Content</td>
				<td>Content</td>
			</tr>
		</tbody>
	</table>
</div>
