<h1>Star Wars</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolor consequuntur iste perspiciatis esse. Tenetur dolorem sint porro doloremque alias dolor odio perferendis architecto, culpa labore consequatur, at quia, praesentium.
</p>
<button type="button" class="btn btn-default center-block" ng-click="rotas()">Next</button>


<form>
	<div class="input-group">
		<label class="control-label" for="txtSearch">Search</label>
		<input class="form-control" type="text" name="txtSearch" id="txtSearch">
	</div>
</form>
<br>
<table class="table table-hover table-bordered">
	<thead>
		<tr">
			<th>Name</th>
			<th>Gender</th>
			<th>Planet</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in peopleList">
			<td ng-bind="person.name"></td>
			<td ng-bind="person.gender"></td>
			<td ng-bind="person.homeworld"></td>
		</tr>
	</tbody>
</table>